body {
    background-color: black;
    color: white;
}

section{
    background:#ff0000;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
    
}

header{
    border-bottom: #000000;
    padding: 20px;
    font-size: 32px;
    color: black(42, 122, 228);

}

.texto{
    margin-right: 80px;
}

img{
    height: 200px;

}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;

}

.lista{
    background-color: aliceblue;
}